@page
@model Neon.WebApp.Pages.Dashboard.Index

@{
    Layout = "Shared/_Sidebar";
    ViewData["Title"] = "Dashboard";
}

<script src="~/js/Dashboard/scripts.js"></script>
<div id="main-content" class="main-container">
    <!--header user bar-->
    <header id="header">
        <div id="header-bar" class="d-flex flex-row align-items-center w-100 h-100 justify-content-end">
            <div id="user" class="text-end me-3">
                <span id="user-account"><i class="fa-solid fa-user icon-spacer"></i> iFlyNyx</span>
            </div>
        </div>
    </header>
    <!--main content container-->
    <div id="content">
        <div id="dashboard-home" class="d-none">
            <h1>Dashboard</h1>
        </div>

        <div id="event-feed" class="d-none">
            <h1>Event Feed</h1>
        </div>

        <div id="chatbot-commands" class="d-none">
            <div class="d-flex flex-row justify-content-between align-items-center">
                <h1>Commands</h1>
                <input type="button" class="btn btn-success" value="Add Command">
            </div>
            <table id="command-table" class="display">
                <thead>
                <tr>
                    <th>Enabled</th>
                    <th>Command</th>
                    <th>Description</th>
                    <th>Response</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" role="switch" checked>
                        </div>
                    </td>
                    <td>!snacktime</td>
                    <td>Skyye BubuNom time!</td>
                    <td>Skyye munched you. You're gone!</td>
                </tr>
                <tr>
                    <td>
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" role="switch" checked>
                        </div>
                    </td>
                    <td>!flavor</td>
                    <td>What flavor are you today?</td>
                    <td>Marshmallow Mischief</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div id="chatbot-setup" class="d-none">
            <h1>Setup</h1>
            <div id="custom-chatbot" class="d-flex flex-column mb-4">
                <h3>Custom Chatbot</h3>
                <p>A custom chatbot will use a twitch account that you setup and grant permission to the Neon app!</p>
                <p>This will configure the Neon app to connect to your chat as the configured account and send messages as that account!</p>
                <p>To configure a custom chatbot, please follow the instructions at the link below</p>
                <button id="setup-custom-chatbot" class="btn btn-success w-25" type="button">Setup Custom Chatbot</button>
            </div>
            <div id="overlay-url" class="d-flex flex-column">
                <h3>Overlay URL</h3>
                <p>Do not show this on stream! Do not paste this in your chat!</p>
                <p>
                    Use the reset url button to regenerate a unique overlay link.<br/>
                    Regenerating a url here will break the old url.<br/>
                    You will need to paste this info back into your obs browser source for the overlay to work again.
                </p>
                <div class="d-flex flex-row align-items-center gap-2 w-50">
                    <button id="copy-overlay-url" value="12345" class="btn btn-outline-secondary h-100 w-75" type="button" data-bs-toggle="tooltip" data-bs-placement="top" title="Copy to Clipboard">
                        <i class="fa-solid fa-copy"></i> Copy
                    </button>
                    <button id="reset-overlay-url" class="btn btn-outline-danger h-100 w-25" type="button">Reset URL</button>
                </div>
            </div>
            <h3 class="mt-4">Overlay Configuration</h3>
            <form id="chatbot-configuration" class="card w-50 mt-4 mb-4">
                <div class="card-body d-flex flex-column gap-3">
                    <div id="chat-style" class="d-flex flex-row row justify-content-between align-items-center">
                        <div class="col-5">
                            <span class="fw-bold">Chat Style</span>
                            <i class="fa-solid fa-circle-info text-muted small" data-bs-custom-class="neon-tooltip" data-bs-toggle="tooltip" data-bs-placement="right" title="Select the default chat style. Custom styles are available and if enabled will show here too!"></i>
                        </div>
                        <div class="col-7">
                            <select id="chatStyle" class="form-select" aria-label="Chat Style">
                                <option value="boxes" selected>Boxes</option>
                                <option value="left-aligned">Left Aligned</option>
                                <option value="center-aligned">Center Aligned</option>
                            </select>
                        </div>
                    </div>
                    <div id="block-bot-messages" class="d-flex flex-row row justify-content-between align-items-center">
                        <div class="col-5">
                            <span class="fw-bold">Skip Bot Messages</span>
                            <i class="fa-solid fa-circle-info text-muted small" data-bs-custom-class="neon-tooltip" data-bs-toggle="tooltip" data-bs-placement="right" title="This will skip messages from the Neon bot or your custom bot account!"></i>
                        </div>
                        <div class="col-7">
                            <div class="form-check form-switch">
                                <label for="skip-bot-messages" class="form-label">Skip Bot Messages</label>
                                <input id="skip-bot-messages" class="form-check-input" type="checkbox" role="switch">
                            </div>
                        </div>
                    </div>
                    <div id="block-command-messages" class="d-flex flex-row row justify-content-between align-items-center">
                        <div class="col-5">
                            <span class="fw-bold">Skip Command Messages</span>
                            <i class="fa-solid fa-circle-info text-muted small" data-bs-custom-class="neon-tooltip" data-bs-toggle="tooltip" data-bs-placement="right" title="This will skip messages with the '!' prefix"></i>
                        </div>
                        <div class="col-7">
                            <div class="form-check form-switch">
                                <label for="skip-command-messages" class="form-label">Skip '!' Command Messages</label>
                                <input id="skip-command-messages" class="form-check-input" type="checkbox" role="switch">
                            </div>
                        </div>
                    </div>
                    <div id="twitch-badges-setup" class="d-flex flex-row row justify-content-between align-items-center">
                        <div class="col-5">
                            <span class="fw-bold">Twitch Badges</span>
                            <i class="fa-solid fa-circle-info text-muted small" data-bs-custom-class="neon-tooltip" data-bs-toggle="tooltip" data-bs-placement="right" title="Include twitch chat badges in the overlay messages"></i>
                        </div>
                        <div class="col-7">
                            <div class="form-check form-switch">
                                <label for="twitch-badges" class="form-label">Use Twitch Badges</label>
                                <input id="twitch-badges" class="form-check-input" type="checkbox" role="switch" checked>
                            </div>
                        </div>
                    </div>
                    <div id="third-party-emotes" class="d-flex flex-row row justify-content-between align-items-center">
                        <div class="col-5">
                            <span class="fw-bold">Third Party Emotes</span>
                            <i class="fa-solid fa-circle-info text-muted small" data-bs-custom-class="neon-tooltip" data-bs-toggle="tooltip" data-bs-placement="right" title="Enable or disable emotes from third party providers"></i>
                        </div>
                        <div class="col-7">
                            <div class="d-flex flex-column">
                                <div class="form-check form-switch">
                                    <label for="bttv" class="form-label">Use BetterTTV Emotes</label>
                                    <input id="bttv" class="form-check-input" type="checkbox" role="switch" checked>
                                </div>
                                <div class="form-check form-switch">
                                    <label for="seven-tv" class="form-label">Use 7TV Emotes</label>
                                    <input id="seven-tv" class="form-check-input" type="checkbox" role="switch" checked>
                                </div>
                                <div class="form-check form-switch">
                                    <label for="ffz" class="form-label">Use FrankerFaceZ Emotes</label>
                                    <input id="ffz" class="form-check-input" type="checkbox" role="switch" checked>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="chat-delay" class="d-flex flex-row row justify-content-between align-items-center">
                        <div class="col-5">
                            <span class="fw-bold">Chat Delay</span>
                            <i class="fa-solid fa-circle-info text-muted small" data-bs-custom-class="neon-tooltip" data-bs-toggle="tooltip" data-bs-placement="right" title="Configure a delay before messages are shown on the overlay. Helpful for moderators to have time to moderate before messages are shown on the overlay."></i>
                        </div>
                        <div class="col-7">
                            <div class="d-flex flex-column justify-content-between align-items-start">
                                <label for="chat-delay-input" class="form-label"></label>
                                <input id="chat-delay-input" type="range" class="form-range" min="0" max="5" step="1" value="0">
                                <output id="chat-delay-value" class="text-muted small" aria-hidden="true">0s</output>
                            </div>
                        </div>
                    </div>
                    <div id="chat-message-remove-delay" class="d-flex flex-row row justify-content-between align-items-center">
                        <div class="col-5">
                            <span class="fw-bold">Remove Delay</span>
                            <i class="fa-solid fa-circle-info text-muted small" data-bs-custom-class="neon-tooltip" data-bs-toggle="tooltip" data-bs-placement="right" title="Removes messages on the overlay after the configured time. Optionally, keep messages on the overlay indefinitely."></i>
                        </div>
                        <div class="col-7">
                            <div class="d-flex flex-column justify-content-between align-items-center">
                                <div class="form-check form-switch w-100 mb-2">
                                    <label for="chat-message-remove-delay-disable" class="form-label">Always Keep Messages</label>
                                    <input id="chat-message-remove-delay-disable" class="form-check-input" type="checkbox" role="switch">
                                </div>
                                <div class="d-flex flex-column w-100 justify-content-between align-items-start">
                                    <label for="chat-message-remove-delay-input" class="form-label"></label>
                                    <input id="chat-message-remove-delay-input" type="range" class="form-range" min="5" max="300" step="1" value="5">
                                    <output id="chat-message-remove-delay-value" class="text-muted small" aria-hidden="true">0s</output>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="chat-font" class="d-flex flex-row row justify-content-between align-items-center">
                        <div class="col-5">
                            <span class="fw-bold">Font Style</span>
                        </div>
                        <div class="col-7">
                            <select id="chatFontStyle" class="form-select" aria-label="Chat Font Style">
                                <option value="arial" selected>Arial</option>
                                <option value="times-new-roman">Times New Roman</option>
                                <option value="open-sans">Open Sans</option>
                            </select>
                        </div>
                    </div>
                    <div id="chat-font-size" class="d-flex flex-row row justify-content-between align-items-center">
                        <div class="col-5">
                            <span class="fw-bold">Font Size</span>
                        </div>
                        <div class="col-7">
                            <div class="d-flex flex-column justify-content-between align-items-start">
                                <label for="chat-font-size-input" class="form-label"></label>
                                <input id="chat-font-size-input" type="range" class="form-range" min="12" max="60" step="1" value="16">
                                <output id="chat-font-size-value" class="text-muted small" aria-hidden="true">0px</output>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
